@charset "UTF-8";
/* Задаю основні стилі сторінки */
body {
  color: var(--general-text-color);
  background-color: var(--second-text-color);
  font-family: Roboto, sans-serif;
  font-size: var(--main-font);
  letter-spacing: 0.03em;
}

:root {
  --general-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --second-text-color: #FFFFFF;
  --footer-second-text-color: rgba(255, 255, 255, 0.6);
  --bgc-button-color: #F5F4FA;
  --back-ground-color: #E5E5E5;
  --brc-herofooter: #2F303A;
  --bgc-hero-color: rgba(47, 48, 58, 0.4);
  --sotsset-color: #AFB1B8;
  --main-font: 14px;
}

/* Задаю утілітарний клас для приховування будь-чого на сторінці */
.invisible {
  display: none;
}

/* Прибираю крапки пунктів списку */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Задаю контейнер для контенту сторінок */
.container {
  margin: auto;
  padding: 0 15px;
  width: 1200px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

.header {
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

.head-container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  /* задаю колір та шрифт ссилок в блоці навігації при наваденні та переході */
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  color: var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  /* Задаю колір та шрифт ссилок в блоці авторизації */
  /* задаю колір та шрифт ссилок в блоці авторизації при наваденні та переході */
}

.contact-nav .link {
  color: var(--general-text-color);
  font-weight: 500;
  font-size: var(--main-font);
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.contact__item {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item:hover {
  color: var(--accent-color);
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
}

.mylo-icon {
  padding: 0px;
  margin-right: 10px;
  height: 12px;
  width: 16px;
  fill: currentColor;
}

.contact-tel {
  display: flex;
  align-items: center;
}

.tel-icon {
  padding: 0px;
  margin-right: 10px;
  height: 16px;
  width: 10px;
  fill: currentColor;
}

/* Задаю колір передньої частини логотипу */
.logo {
  color: var(--accent-color);
}

/* задаю колір другої частини тексту лого */
.logotext {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logotext--head {
  color: var(--title-text-color);
}

.logotext--foot {
  color: var(--second-text-color);
}

.section.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px 200px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  max-width: 1600px;
  background-color: var(--brc-herofooter);
  text-align: center;
  background-image: url(../images/imgoverlay.png), url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin: 0px auto 40px auto;
  color: var(--second-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* задаю колір та шрифт заголовків секції */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.featers {
  display: flex;
}

.featers__place {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bgc-button-color);
  margin-bottom: 30px;
}

/* Задаю ширину лішкам списку featers */
.featers__item {
  width: 270px;
  /* Задаю маржини лішкам списку featers крім останнього */
}

.featers__item:not(:last-child) {
  margin-right: 30px;
}

/* задаю колір та шрифт h3 в секції featers */
.featers__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: var(--main-font);
  line-height: 1.143;
  text-transform: uppercase;
}

/* задаю колір та шрифт основного тексту в секції featers */
.featers__decription {
  display: inline-block;
  line-height: 1.71;
}

/* ------------Секція робіт----------------- */
.section.works {
  padding-top: 0;
}

.works-list {
  display: flex;
}

.works__item {
  position: relative;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__image {
  display: block;
}

.works__title {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-left: auto;
  padding-right: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: var(--main-font);
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-text-color);
  background: rgba(47, 48, 58, 0.8);
}

/* ------------Секція команди---------------- */
.team.section {
  background-color: var(--bgc-button-color);
}

.team {
  display: flex;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}

.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--second-text-color);
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__decription {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.sots {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
}

.sots--team {
  justify-content: space-between;
  margin: 16px 32px 30px 32px;
}

.sots--footer {
  margin-top: 20px;
}

.sots__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sots__item--foot + .sots__item--foot {
  margin-left: 10px;
}

.sots__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sots__link--team {
  color: var(--sotsset-color);
  background-color: var(--second-text-color);
}

.sots__link--foot {
  color: var(--second-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.sots__link:hover {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.sots__icon {
  display: flex;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*-------Розмічаємо секцію постійних клієнтів-------- */
.clients {
  display: flex;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__place {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--sotsset-color);
  border-radius: 4px;
  color: var(--sotsset-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__place:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  margin: 16px 32px 16px 32px;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item:hover, .filter__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item + .filter__item {
  margin-left: 8px;
}

/* ------------Секція прикладів-------------------------- */
.example {
  display: flex;
  flex-wrap: wrap;
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__item:hover .card__overlay {
  transform: translateY(0);
}

.example__item:nth-child(3n) {
  margin-right: 0;
}

.example__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.exemple-decription {
  font-size: 16px;
  line-height: 1.88;
}

.card {
  position: relative;
  overflow: hidden;
}

/* Задаю колір заголовків h3 в секції приклади */
.card__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__image {
  display: block;
}

/* обгортаю текст під картинкою */
.card__meta {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.card__overlay {
  position: absolute;
  top: 1px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-text-color);
  background: rgba(33, 150, 243, 0.9);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brc-herofooter);
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.footer-nav .link {
  color: var(--second-text-color);
  font-style: normal;
  line-height: 1.71;
}

/* задаю колір контактів в футері */
.footer-nav .contact {
  color: var(--footer-second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav .contact:hover, .footer-nav .contact:focus {
  color: var(--accent-color);
}

.footer-sots {
  margin-left: 70px;
  width: 270px;
  /* outline: 2px solid #FFFFFF; */
}

.foot-title {
  margin: 0px;
  font-size: var(--main-font);
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.invitation {
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.footer__form {
  display: flex;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

/* .foot-label-email{} */
.footer__input {
  margin-right: 12px;
  height: 50px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}

.footer__input::placeholder {
  display: flex;
  align-items: center;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  color: var(--title-text-color);
  background-color: var(--bgc-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* задаю колір та шрифт кнопок фільтру при наведенні та фокусі */
}

.button:hover, .button:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.button.current {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

/* задаю колір та шрифт кнопці "заказать услугу" */
.button-hero {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  margin: 0px auto;
  /* margin-top: 30px; */
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer__button {
  height: 50px;
  padding: 10px 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.button__icon {
  margin-left: 10px;
  fill: var(--second-text-color);
}

/* ---------Модальне вікно---------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close__button {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close__button:hover .close__icon,
.close__button:focus .close__icon {
  fill: var(--accent-color);
}

.close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form__place {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--general-text-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__input:hover, .modal__input:focus, .modal__input:active {
  border-color: var(--accent-color);
}

.modal__textarea {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__textarea:hover, .modal__textarea:focus, .modal__textarea:active {
  border-color: var(--accent-color);
}

.label__place {
  position: relative;
}

.label__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.71;
  margin-left: 9px;
  color: var(--general-text-color);
}

.doc {
  margin-left: 8px;
  color: var(--accent-color);
}

.input__icon {
  position: absolute;
  left: 15px;
  bottom: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover + .input__icon {
  fill: var(--accent-color);
}

.modal__input:focus + .input__icon {
  fill: var(--accent-color);
}

.modal__input:active + .input__icon {
  fill: var(--accent-color);
}

.modal__checkbox {
  display: flex;
  margin: 20px 0px 30px 0px;
  display: flex;
  align-items: center;
}

.input__checkbox:checked + .label__checkbox .checkbox__area {
  background-color: var(--accent-color);
  border: none;
}

.input__checkbox:checked + .label__checkbox .checkbox__icon {
  fill: var(--second-text-color);
}

.checkbox__area {
  position: absolute;
  left: -25px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__checkbox .checkbox__area {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-color: var(--second-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__button {
  width: 200px;
  height: 50px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px 10px 56px;
  color: var(--second-text-color);
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */