.button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;

    color: var(--title-text-color);
    background-color: var(--bgc-button-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;      
    text-align: center;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* задаю колір та шрифт кнопок фільтру при наведенні та фокусі */
    &:hover,
    &:focus {
            color: var(--second-text-color);
            background-color: var(--accent-color);
    }
    &.current {
            color: var(--second-text-color);
            background-color: var(--accent-color);
    }
}


/* задаю колір та шрифт кнопці "заказать услугу" */
.button-hero {
    display: block;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    margin: 0px auto;
    /* margin-top: 30px; */

    color: var(--second-text-color);
    background-color: var(--accent-color);

   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
        
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.footer__button{
    height: 50px;
    padding: 10px 29px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    color: var(--second-text-color);
}
.button__icon{
    margin-left: 10px;
    fill:var(--second-text-color)
}