/* ------------Секція прикладів-------------------------- */
.example {
    display: flex;
    flex-wrap: wrap;
}
.example__item {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    &:hover .card__overlay {
            transform: translateY(0);
    
    }
    &:nth-child(3n) {
    margin-right: 0;
    }

    &:nth-last-child(-n+3) {
    margin-bottom: 0;
    }
}
.exemple-decription {
    font-size: 16px;
    line-height: 1.88;
}






