.featers {
    margin-bottom: -30px;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px; 
    }
}
/* Задаю ширину лішкам списку featers */
.featers__item {
   margin-bottom: 30px;
   @include tablet{
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
   }
   @include desktop {
       flex-basis: calc(100% / 4 - 30px);
   }
}

.featers__place {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--bgc-button-color);
    margin-bottom: 30px;
}
/* задаю колір та шрифт h3 в секції featers */
.featers__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-size: var(--main-font);
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
        text-align: left;
    }
}
/* задаю колір та шрифт основного тексту в секції featers */
.featers__decription {
    display: inline-block;
    line-height: 1.71;
}