.header {
    display: flex;
    border-bottom: 1px solid #ECECEC
}
.head-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
/* задаю колір та шрифт ссилок в блоці навігації при наваденні та переході */
    & .link:hover,
    & .link:focus {
        color: var(--accent-color);
    }
    & .link.current {
        color: var(--accent-color);
        position: relative;
    }
}
.site-nav__item {
    &:not(:last-child) {
            margin-right: 50px;
        }
}
.site-nav__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);


    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.current::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            content: '';
            width: 100%;
            height: 4px;
            display: block;
    
            color: var(--accent-color);
            background-color: var(--accent-color);
            border-radius: 2px;
    
        }
}
.contact-nav {
    display: flex;
    margin-left: auto;
    /* Задаю колір та шрифт ссилок в блоці авторизації */
        & .link {
            color: var(--general-text-color);
    
            font-weight: 500;
            font-size: var(--main-font);
            line-height: 1.143;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        /* задаю колір та шрифт ссилок в блоці авторизації при наваденні та переході */
        & .link:hover,
        & .link:focus {
    color: var(--accent-color);
}
}

.contact__item {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            color: var(--accent-color);
        }
    &+& {
            margin-left: 50px;
    }
}
.contact__link {
    display: flex;
    align-items: center;
}
.mylo-icon {
    padding: 0px;
    margin-right: 10px;
    height: 12px;
    width: 16px;
    fill: currentColor;
}
.contact-tel {
    display: flex;
    align-items: center;

}
.tel-icon {

    padding: 0px;
    margin-right: 10px;
    height: 16px;
    width: 10px;

    fill: currentColor;
}

