/* ---------Модальне вікно---------------------------------- */
.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    width: 528px;
    min-height: 581px;
    background-color: var(--second-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.close__button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover .close__icon,
    &:focus .close__icon {
            fill: var(--accent-color);
        }

}
.close__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
    display: block;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
}

.form__place {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.modal__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--general-text-color);
}

.modal__input {
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:hover, &:focus, &:active {
            border-color: var(--accent-color);
        }
}
.modal__textarea {
    padding: 12px 16px;
    resize: none;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
        &:hover,
        &:focus,
        &:active {
                border-color: var(--accent-color);
            }
}

.label__place {
    position: relative;
}
.label__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1.71;
    margin-left: 9px;

    color: var(--general-text-color);
}

.doc {
    margin-left: 8px;
    color: var(--accent-color);
}



.input__icon {
    position: absolute;
    left: 15px;
    bottom: 14px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__input:hover+& {
            fill: var(--accent-color);
        }    
        .modal__input:focus+& {
            fill: var(--accent-color);
        }    
        .modal__input:active+& {
            fill: var(--accent-color);
        }
}
.modal__checkbox {
    display: flex;
    margin: 20px 0px 30px 0px;
    display: flex;
    align-items: center;
}

.input__checkbox{
    &:checked+.label__checkbox .checkbox__area {
            background-color: var(--accent-color);
            border: none;
    }
    &:checked+.label__checkbox .checkbox__icon {
            fill: var(--second-text-color);
    }
}



.checkbox__area {
    position: absolute;
    left: -25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__checkbox .checkbox__area {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;

    background-color: var(--second-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__button {
    width: 200px;
    height: 50px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 55px 10px 56px;

    color: var(--second-text-color);

    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}