.card {
    position: relative;
    overflow: hidden;
}

/* Задаю колір заголовків h3 в секції приклади */
.card__title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);


    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card__image {
    display: block;

}

/* обгортаю текст під картинкою */
.card__meta {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.card__overlay {
    position: absolute;
    top: 1px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 63px 24px 63px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;

    color: var(--second-text-color);
    background: rgba(33, 150, 243, 0.9);
}