.sots {
    display: flex;
    padding: 0;

    list-style: none;
    align-items: center;
    &--team {
            justify-content: space-between;
            margin: 16px 32px 30px 32px;
        }
    &--footer {
            margin-top: 20px;
        }
        &__item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
        }
}
.sots__item--foot {
    &+& {
            margin-left: 10px;
        }
}

.sots__link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--team {
            color: var(--sotsset-color);
            background-color: var(--second-text-color);
    
        }
    &--foot {
            color: var(--second-text-color);
            background-color: rgba(255, 255, 255, 0.1);
        }
    &:hover {
        color: var(--second-text-color);
        background-color: var(--accent-color);
    }
}
.sots__icon {
    display: flex;
    width: 20px;
    height: 20px;

    fill: currentColor;
}
